receivers:
  prometheus:
    config:
      scrape_configs:
        - job_name: 'rabbitmq'
          scrape_interval: 10s
          static_configs:
            - targets: ['rabbitmq:15692']

processors:
  batch:
    timeout: 5s
    send_batch_size: 512
    send_batch_max_size: 1024

exporters:
  prometheus:
    endpoint: "0.0.0.0:8889"

  otlphttp:
    endpoint: "http://loki:3100/otlp"

service:
  pipelines:
    metrics:
      receivers: [prometheus]
      processors: [batch]
      exporters: [prometheus]
