---
services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2025-latest
    container_name: sqlserver
    environment:
      ACCEPT_EULA: Y
      SA_PASSWORD: Admin!docker123D
    ports:
      - 1433:1433
    networks:
      - observability
    healthcheck:
      test: ["CMD", "bash", "-c", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P Admin!docker123D -Q 'SELECT 1' -C"]
      interval: 10s
      timeout: 5s
      retries: 10
      
  oracle:
    image: container-registry.oracle.com/database/free:latest-lite
    container_name: oracle
    environment:
      ORACLE_PWD: Admin!docker123D
      ORACLE_PDB: ORCLPDB1
      ORACLE_CHARACTERSET: AL32UTF8
    ports:
      - 1521:1521
      - 5500:5500
    networks:
      - observability
    healthcheck:
      test: ["CMD", "bash", "-c", "echo 'SELECT 1 FROM dual;' | sqlplus -S system/Admin!docker123D@localhost:1521/ORCLPDB1"]
      interval: 20s
      timeout: 10s
      retries: 10
      
  otel-collector:
    image: otel/opentelemetry-collector-contrib:nightly
    container_name: otel-collector
    command:
      - --config=/etc/otel/config.yaml
    volumes:
      - ./otel-config.yaml:/etc/otel/config.yaml
    ports:
      - 4317:4317
      - 4318:4318
      - 8889:8889
    depends_on:
      sqlserver:
        condition: service_healthy
      oracle:
        condition: service_healthy        
    networks:
      - observability

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - 9090:9090
    depends_on:
      - otel-collector
    networks:
      - observability

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - 3000:3000
    depends_on:
      - prometheus
    networks:
      - observability
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin@2025
      
  loki:
    image: grafana/loki:3.5
    container_name: loki
    ports:
      - 3100:3100
    command: -config.file=/etc/loki/config/config.yml
    volumes:
      - ./loki-config.yaml:/etc/loki/config/config.yml
    networks:
      - observability
    depends_on:
      sqlserver:
        condition: service_healthy
      oracle:
        condition: service_healthy 

networks:
  observability:
    driver: bridge
